body {
  text-align: center;
  margin: 10;
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
}

.container {
  width: 400px;
  margin: auto;
}

/* Настраиваем внешний вид поля ввода*/
.form-control {
  display: inline-block;
  margin: 20px auto;
  border: 2px solid #eee;
  padding: 10px 20px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
}

/*Как будет выглядеть каждый элемент нашего списка*/
.todo-item {
  text-align: left;
  padding: 10px;
  cursor: default;
  border-radius: 7px;
}

/*Что произойдёт, когда мы наведём курсор на любую задачу из списка*/
.todo-item:hover {
  background-color: lightblue;
}